/**
 * Add all your custom CSS here, we added a few to get you started.
 */

/******************************************************************
  Typography
******************************************************************/

body > .ember-view {
  height: 100%;
}

.lockScroll {
  overflow: hidden;
}

$dark:          #000000;
$dull:          #808285;
$light:         #BCBEC0;
$bright:        #FFFFFF;
$highlight:     #FA7070;
$highlightDark: #DB6161;

$active:      #231F20;
$inactive:        #414042;

.light { color: $light }
.hoverLight:hover { color: $light }
.bright { color: $bright }
.dark { color: $dark }
.dull { color: $dull }
.highlight { color: $highlight }

.bgDark { background-color: $dark }
.bgDarkT { background-color: rgba(0,0,0,0.9) }
.bgBrightT { background-color: rgba(255,255,255,0.9) }
.bgInactive { background-color: $inactive }
.bgActive { background-color: $active }

a {
  color: $dark;
  text-decoration: none;
}

a:hover {
  color: $highlight;
  text-decoration: none;
}

a.active {
  color: $highlight;
  text-decoration: none;
}

a:active, a:focus {
  color: $highlight;
  outline: 0;
}

.pointer {
  cursor: pointer;
}

.tdu {
  text-decoration: underline;
}

hr {
  color: $dark;
  background: $dark;
  border: none;
  display: block;
  height: 3px;
  margin: $medium-spacing 0;
}

body {
  color: $dark;
  font-size: $base-font-size;
  font-family: 'Helvetica Neue', Helvetica, Helmut, Arial, sans-serf;
  font-weight: 700;
  line-height: 1.0em;
}

p,li {
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin-bottom: $base-line-height;
}

h3 {
  font-weight: bold;
}

.fst, .fss, .fsm, .fsl, .fsh {
  line-height: $base-line-height;
  margin-bottom: 1.0em;
}

.fst {
  font-size: 10px;
}

.fss {
  font-size: 10px;
}

.fsm {
  font-size: 15px;
}

.fsl {
  font-size: 20px;
}

.fsh {
  font-size: 30px;
}

@include media-query(lap){
  .fst, .fss, .fsm, .fsl, .fsh {
    line-height: $lap-base-line-height;
  }

  .fst {
    font-size: 15px;
    margin-bottom: 1.0em;
  }

  .fss {
    font-size: 15px;
    margin-bottom: 1.0em;
  }

  .fsm {
    font-size: 30px;
    margin-bottom: 1.0em;
  }

  .fsl {
    font-size: 50px;
    margin-bottom: 1.0em;
  }

  .fsh {
    font-size: 70px;
    margin-bottom: 1.0em;
  }

  p,li {
    font-size: $lap-base-font-size;
    margin-bottom: $lap-base-line-height;
  }
}

@include media-query(desk){
  .fst, .fss, .fsm, .fsl, .fsh {
    line-height: $desk-base-line-height;
  }

  .fst {
    font-size: 15px;
    margin-bottom: 1.0em;
  }

  .fss {
    font-size: 20px;
    margin-bottom: 1.0em;
  }

  .fsm {
    font-size: 40px;
    margin-bottom: 1.0em;
  }

  .fsl {
    font-size: 60px;
    margin-bottom: 1.0em;
  }

  .fsh {
    font-size: 100px;
    margin-bottom: 1.0em;
  }

  p,li {
    font-size: $desk-base-font-size;
    line-height: $desk-base-line-height;
    margin-bottom: $desk-base-line-height;
  }
}

.ffh {
  font-family: Helvetica, Helmut, Arial, sans-serf;
}

.ffhn {
  font-family: 'Helvetica Neue', Helvetica, Helmut, Arial, sans-serf;
}

/******************************************************************
  Colors
******************************************************************/

.success { color: #dff0d8; }
.error { color: #f2dede; }

.bgSuccess { background-color: #dff0d8; }
.bgError { background-color: #f2dede; }

.bcSuccess { border-color: #f2dede; }
.bcError { border-color: #f2dede; }

/******************************************************************
  Buttons
******************************************************************/

.btn {
  position: relative;
  overflow: visible;
  display: inline-block;
  padding: 30px 15px;
  border: none;
  margin: 0;
  text-decoration: none;
  text-align: center;
  text-shadow: none;
  font-size: 15px;
  line-height: 20px;
  height: 20px;
  color: white;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  background-color: $highlight;
  -moz-background-clip: padding; /* for Firefox 3.6 */
  background-clip: padding-box;
  border-radius: 0;
  zoom: 1;
  *display: inline;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
  border-color: none;
  text-decoration: none;
  text-shadow: none;
  color: #fff;
  background-color: $highlightDark;
}

.btn:active,
.btn.active {
  border-color: none;
  background-color: $highlightDark;
}

.btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.btnBlock {
  width: 250px
}

@include media-query(lap){
  .btnBlock { width: 386px; }
  .btn { font-size: 20px; }
}

.navPage {
  top: 0;
}

.conditionImg {
  width: 210px !important;
}

@include media-query(desk){
  .conditionImg {
    width: 281px !important;
  }
}

.forecastPage {
  padding-top: 70px;
  pointer-events: none;
  a {
    pointer-events: auto;
  }
}

@include media-query(lap){
  .modTemp {
    width: 130px;
  }
}

@include media-query(desk){
  .modTemp {
    width: 240px;
  }
}

.productPage {
  width: 320px;
  padding-top: 308px;
  margin: 0;
}
.productPage .body .foot {
  bottom: 20px;
}
.block {
  position: absolute;
  width: 260px;

  .meta {
    width: 100px;
    margin: 30px 0px 0 180px;
  }

  .buy {
    bottom: 0;
    margin: 0px 0 -15px -15px;

    img {
      height: 50px;
      width: 50px;
    }
  }
}

@include media-query(lap){
  .block{
    .meta {
      width: 240px;
      margin: 40px 0px 0 140px;
      overflow: hidden;
    }

    .buy {
      bottom: 0;
      margin: 0px 0 -25px -25px;

      img {
        height: 75px;
        width: 75px;
      }
    }
    &:first-of-type > .mod  {
      margin-top: 0 !important;
    }
  }
}

@include media-query(desk){
  .block{
    .meta {
      width: 320px;
      margin: 60px 0px 0 320px;
    }

    .buy {
      bottom: 0;
      margin: 0px 0 -30px -30px;

      img {
        height: 100px;
        width: 100px;
      }
    }
  }
}

.block:hover {
  .meta {
    display: block;
  }
  .buy {
    display: block;
  }
}

@include media-query(lap){
  .productPage {
    padding-top: 508px;
    width: 768px;
  }
  .block { width: 384px; }
  .productPage .body .foot { right: 30px; }
}

@include media-query(desk){
  .productPage {
    padding-top: 628px;
    width: 1500px;
  }
  .block { width: 750px; }
}

.settingsPage {
  height: 100%;
  z-index: 1000;
  overflow-y: auto;
  overflow-x: visible;
}

.settingsClose {
  right: 22px;
  top: 72px;
  z-index: 9999;
}

.settingsControl {
  cursor: pointer;
  &:hover {
    background: $active;
  }
}

input {
  border: none;
  outline: none;
  padding: 60px 5%;
  width: 90%;
  font-weight: bold;
  &::-webkit-input-placeholder { font-weight: bold; }
  &:-moz-placeholder { font-weight: bold; }
  &::-moz-placeholder { font-weight: bold; }
  &:-ms-input-placeholder { font-weight: bold; }
}

.informationPage {
  padding-top: 70px;
}
