/**
 * Add all your custom CSS here, we added a few to get you started.
 */

/******************************************************************
  Typography
******************************************************************/

body > .ember-view {
  height: 100%;
}

.lockScroll {
  overflow: hidden;
}

$dark:          #000000;
$dull:          #808285;
$light:         #BCBEC0;
$bright:        #FFFFFF;
$highlight:     #FA7070;
$highlightDark: #DB6161;

$active:        #231F20;
$inactive:      #414042;

.light { color: $light }
.hoverLight:hover { color: $light }
.bright { color: $bright }
.dark { color: $dark }
.dull { color: $dull }
.highlight { color: $highlight }

.bgDark { background-color: $dark }
.bgDarkT { background-color: rgba(0,0,0,0.9) }
.bgBrightT { background-color: rgba(255,255,255,0.9) }
.bgInactive { background-color: $inactive }
.bgActive { background-color: $active }
.hoverBgActive:hover { background-color: $active }

a {
  color: $dark;
  text-decoration: none;
}

a:hover {
  color: $highlight;
  text-decoration: none;
}

a.active {
  color: $highlight;
  text-decoration: none;
}

a:active, a:focus {
  color: $highlight;
  outline: 0;
}

.pointer {
  cursor: pointer;
}

.tdu {
  text-decoration: underline;
}

hr {
  color: $dark;
  background: $dark;
  border: none;
  display: block;
  height: 3px;
  margin: $medium-spacing 0;
}

body {
  color: $dark;
  font-size: $base-font-size;
  font-family: 'Helvetica Neue', Helvetica, Helmut, Arial, sans-serf;
  font-weight: 700;
  line-height: 1.0em;
}

p,li {
  font-size: $base-font-size;
  line-height: $base-line-height;
  margin-bottom: $base-line-height;
}

h3 {
  font-weight: bold;
}

.fst, .fss, .fsm, .fsl, .fsh {
  line-height: 1.0em;
  margin-bottom: 0em;
}

.fst {
  font-size: 10px;
}

.fss {
  font-size: 10px;
}

.fsm {
  font-size: 15px;
}

.fsl {
  font-size: 20px;
}

.fsh {
  font-size: 30px;
}

.fsg {
  font-size: 60px;
  line-height: 60px;
}

.loose {
  line-height: 1.5em !important;
}

.veryLoose {
  line-height: 1.75em !important;
}

@include media-query(lap){
  .fst {
    font-size: 15px;
  }

  .fss {
    font-size: 15px;
  }

  .fsm {
    font-size: 30px;
  }

  .fsl {
    font-size: 50px;
  }

  .fsh {
    font-size: 70px;
  }

  .fsg {
    font-size: 180px;
    line-height: 120px;
  }

  p,li {
    font-size: $lap-base-font-size;
    margin-bottom: $lap-base-line-height;
  }
}

@include media-query(desk){
  .fst, .fss, .fsm, .fsl, .fsh {
    line-height: $desk-base-line-height;
  }

  .fst {
    font-size: 15px;
    margin-bottom: 1.0em;
  }

  .fss {
    font-size: 20px;
    margin-bottom: 1.0em;
  }

  .fsm {
    font-size: 40px;
    margin-bottom: 1.0em;
  }

  .fsl {
    font-size: 60px;
    margin-bottom: 1.0em;
  }

  .fsh {
    font-size: 100px;
    margin-bottom: 1.0em;
  }

  p,li {
    font-size: $desk-base-font-size;
    line-height: $desk-base-line-height;
    margin-bottom: $desk-base-line-height;
  }
}

.ffh {
  font-family: Helvetica, Helmut, Arial, sans-serf;
}

.ffhn {
  font-family: 'Helvetica Neue', Helvetica, Helmut, Arial, sans-serf;
}

/******************************************************************
  Colors
******************************************************************/

.success { color: #dff0d8; }
.error { color: #f2dede; }

.bgSuccess { background-color: #dff0d8; }
.bgError { background-color: #f2dede; }

.bcSuccess { border-color: #f2dede; }
.bcError { border-color: #f2dede; }
.bcInactive { border-color: $inactive; }
.bcLightT { border-color: rgba(255,255,255,0.7); }

/******************************************************************
  Buttons
******************************************************************/

.btn {
  position: relative;
  overflow: visible;
  display: inline-block;
  padding: 30px 15px;
  border: none;
  margin: 0;
  text-decoration: none;
  text-align: center;
  text-shadow: none;
  font-size: 15px;
  line-height: 20px;
  height: 20px;
  color: white;
  white-space: nowrap;
  cursor: pointer;
  outline: none;
  background-color: $highlight;
  -moz-background-clip: padding; /* for Firefox 3.6 */
  background-clip: padding-box;
  border-radius: 0;
  zoom: 1;
  *display: inline;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn.active {
  border-color: none;
  text-decoration: none;
  text-shadow: none;
  color: #fff;
  background-color: $highlightDark;
}

.btn:active,
.btn.active {
  border-color: none;
  background-color: $highlightDark;
}

.btn::-moz-focus-inner {
  padding: 0;
  border: 0;
}

.btnBlock {
  width: 250px
}

@include media-query(lap){
  .btnBlock { width: 386px; }
  .btn { font-size: 20px; }
}

.navPage {
  bottom: 0;
  z-index: 10000 !important;
}

.conditionImg {
  width: 224px !important;
}

.productPage {
  width: 320px;
  padding-top: 123px;
  margin: 0;
}

.productBlock {
  position: absolute;
  width: 260px;

  .meta {
    width: 100px;
    margin: 30px 0px 0 180px;
  }

  .buy {
    bottom: 0;
    margin: 0px 0 15px -15px;

    img {
      height: 50px;
      width: 50px;
    }
  }
}

@include media-query(lap){
  .productPage {
    width: 100%;
  }
  .productBlock {
    width: 384px;
    .meta {
      width: 280px;
      margin: 60px 0px 0 280px;
      overflow: hidden;
    }

    .buy {
      bottom: 0;
      margin: 0px 0 30px -30px;

      img {
        height: 100px;
        width: 100px;
      }
    }
  }
}

.productBlock:hover {
  .meta {
    display: block;
  }
  .buy {
    display: block;
  }
}

@include media-query(lap){
}

.settingsMain {
  z-index: 9999;
}

.settingsClose {
  right: 0px;
  top: 0;
  z-index: 9999;
}

.settingsControl {
  cursor: pointer;
  &:hover {
    background: $active;
  }
}

input {
  border: none;
  outline: none;
  padding: 40px 5%;
  width: 90%;
  font-weight: bold;
  &::-webkit-input-placeholder { font-weight: bold; }
  &:-moz-placeholder { font-weight: bold; }
  &::-moz-placeholder { font-weight: bold; }
  &:-ms-input-placeholder { font-weight: bold; }
}

.modLocations {
  height: 100%;
}
.modLocations, .modLocations > * {
  z-index: 100 !important;
}
.modLocations > div {
  padding: 40px 5%;
}

.locateLoader, .locateBtn {
  right: 185px;
  top: 45px;
}

.informationPage {
  top: 0;
  height: 100%;
  z-index: 1000 !important;
  overflow-y: auto;
}

.informationPage::before
{
  bottom: 0px;
  top: 0px;
  background: #09759f; /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #09759f 0%, #3cadab 46%, #ff980d 95%, #ff980d 95%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#09759f), color-stop(46%,#3cadab), color-stop(95%,#ff980d), color-stop(95%,#ff980d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(-45deg,  #09759f 0%,#3cadab 46%,#ff980d 95%,#ff980d 95%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg,  #09759f 0%,#3cadab 46%,#ff980d 95%,#ff980d 95%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg,  #09759f 0%,#3cadab 46%,#ff980d 95%,#ff980d 95%); /* IE10+ */
  background: linear-gradient(135deg,  #09759f 0%,#3cadab 46%,#ff980d 95%,#ff980d 95%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#09759f', endColorstr='#ff980d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  content: "";
  display: block;
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.95;
}

.cityToggle {
  padding-right: 16px;
  background: url('../img/arrow_toggle.png') top right no-repeat;
}

.cityToggleOpen {
  padding-right: 16px;
  background: url('../img/arrow_toggle.png') bottom right no-repeat;
}

.hyphenate {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}
