<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="title" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8">

    <link rel="stylesheet" href="css/style.css" />

    <!-- Iconified with a little help from iconifer: http://iconifier.net/ -->
    <link rel="shortcut icon" href="<%= image_path 'favicon.ico' %>" type="image/x-icon" />
    <link rel="apple-touch-icon" href="<%= image_path 'apple-touch-icon.png'%>" />
    <link rel="apple-touch-icon" sizes="57x57" href="<%= image_path 'apple-touch-icon-57x57.png' %>" />
    <link rel="apple-touch-icon" sizes="72x72" href="<%= image_path 'apple-touch-icon-72x72.png' %>" />
    <link rel="apple-touch-icon" sizes="114x114" href="<%= image_path 'apple-touch-icon-114x114.png' %>" />
    <link rel="apple-touch-icon" sizes="144x144" href="<%= image_path 'apple-touch-icon-144x144.png' %>" />
  </head>

  <body>
    <script type="text/x-handlebars">
      <a href="" data-toggle-settings class="settingsClose fixed hide front"><img src="img/close.png" width="73" height="73" alt="Close"></a>
      <div class="page settingsPage fixed bgDarkT bright hide">
        <div class="main settingsMain">
          <div class="head">
            <div class="mod mtl mhl mbm">
              <div class="media">
                {{#link-to 'forecast'}}<img src="img/logo_white.png" width="193" height="19" alt="Wevther" class="img">{{/link-to}}
              </div>
            </div>
          </div>

          <div class="mod mth ptl lap-mhl">
            <p class="bright fss">Temperature in</p>
            <div class="row">
              <div class="col span1of2">
                <div class="pvl txtC bgInactive bright settingsControl" data-control data-control-type='temperature_type' data-control-value='c'>
                  <p class="mvl">C&deg;</p>
                </div>
              </div>

              <div class="col span1of2">
                <div class="pvl txtC bgInactive bright settingsControl mlt" data-control data-control-type='temperature_type' data-control-value='f'>
                  <p class="mvl">F&deg;</p>
                </div>
              </div>
            </div>
          </div>

          <div class="mod mth ptl lap-mhl">
            <p class="bright fss">Show me</p>
            <div class="row">
              <div class="col span1of3">
                <div class="pvl txtC bgInactive bright settingsControl" data-control data-control-type='gender_type' data-control-value='male'>
                  <p class="mvl">men's</p>
                </div>
              </div>

              <div class="col span1of3">
                <div class="pvl txtC bgInactive bright settingsControl mlt" data-control data-control-type='gender_type' data-control-value='all'>
                  <p class="mvl">all</p>
                </div>
              </div>

              <div class="col span1of3">
                <div class="pvl txtC bgInactive bright settingsControl mlt" data-control data-control-type='gender_type' data-control-value='female'>
                  <p class="mvl">women's</p>
                </div>
              </div>
            </div>
          </div>

          <div class="mod modLocation mth ptl lap-mhl relative">
            <p class="bright fss">Weather for</p>
            <img src="img/locate_button.png" class="locateBtn absolute pointer" data-control-locate>
            <img src="img/locate_loader.gif" class="locateLoader hide absolute">
            <input class="bgActive bcActive fss bright fwb mbn" placeholder="Enter city and country" data-control-location>
            <div class="modLocations">
            </div>
          </div>
        </div>
      </div>

      <div class="page navPage fixed span1of1 front bgBrightT">
        <div class="head">
          <div class="mod mtl mhl mbm">
            <div class="media">
              {{#link-to 'forecast'}}<img src="img/logo.png" width="193" height="19" alt="Wevther" class="img">{{/link-to}}
              <a href="" class="fst hide lap-block imgExt settingsNav" data-toggle-settings>Settings</a>
              <a href="http://blog.wevther.com" target="_blank" class="fst hide mhh lap-block imgExt blogNav">Blog</a>
              {{#link-to 'information' classNames='fst hide mlh lap-block imgExt informationNav'}}Information{{/link-to}}
            </div>
          </div>
        </div>
      </div>

      {{outlet}}
    </script>

    <script type="text/x-handlebars" data-template-name="forecast">
      <div class="page forecastPage fixed span1of1">
        <div class="body forecastBody">
          <div class="row">
            <div class="col">
              <div class="mod mrs mbs lap-mhl lap-mvm">
                <a href="" {{action 'today'}} {{bind-attr class=":fsh :tight :fade :front :mbn isToday:ffhn:light"}}>Today</a>
              </div>
            </div>

            <div class="col">
              <div class="mod mls mbs lap-mhl lap-mvm">
                <a href="" {{action 'tomorrow'}} {{bind-attr class=":fsh :tight :fade :front :mbn isTomorrow:ffhn:light"}}>Tomorrow</a>
              </div>
            </div>
          </div>

          <div class="mod lap-mvm lap-mhl">
            <p class="fsh tight mbn fade front">{{view.location}}</p>
          </div>

          <div class="mod lap-mal">
            {{view App.TemperatureView temp=view.now}}
            {{view App.TemperatureView temp=view.low description='lo'}}
            {{view App.TemperatureView temp=view.high description='hi'}}
          </div>
        </div>

        <div class="foot forecastFoot">
          <div class="mod lap-mal">
            <div class="fluid">
              <img {{bind-attr src=view.icon_url}} width="281" height="188" alt="Condition text" class="img conditionImg fade front"></img>
            </div>
          </div>
        </div>
      </div>

      <div class="page productPage">
        <div class="mod">
          <div class="body relative">

            <div class="modProducts pbh">
              {{#each product in view.products}}
                {{partial "product"}}
              {{/each}}
            </div>

            <div class="foot fixed front">
              <div class="bd txtR">
                <a href="https://itunes.apple.com/us/app/wevther/id723686546?mt=8" class="btn btnBlock">Download from the App Store</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>

	 <script type="text/x-handlebars" data-template-name='_product'>
		<div class="block">
		   <a {{bind-attr href=product.url}} target="_blank">
		     <div class="mod lap-mal desk-mah">
		       <div class="fluid">
		         <div class="meta absolute hide">
		           <p class="fsl tight">{{product.name}}</p>
		         </div>
		         <div class="buy absolute hide">
		           <img src="img/buy.png" width="100" height="100" alt="Buy">
		         </div>
		         <img {{bind-attr src=product.image_url alt=product.name}} class="img"></img>
		       </div>
		    </div>
		  </a>
		</div>
	 </script>

    <script type="text/x-handlebars" data-template-name="temperature">
      <a {{bind-attr class=":fsh :col :mrm :mbn :lap-mrl :ffh :fade :front :pointer :modTemp :hoverLight view.description:light"}}>{{view.temp}}&deg;</a>
    </script>

    <script type="text/x-handlebars" data-template-name="information">
      <div class="page informationPage">
        <div class="span10of12">
          <div class="mod lap-mal desk-mah">
            <div class="bd ffh">
              <p class="fsm">WEΛTHER is a little experiment that started in 2011 to see if there was a more useful way to find out the weather. Sometimes you need a detailed report, but most of the time you just want to be dressed for the day’s weather. What if you could find out the weather and get ideas for what to wear at the same time?</p>
              <p class="fsm">A little app to start the day with a smile.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="page">
        <div class="bgDark bright">
          <div class="pvh">
            <div class="mod lap-mal desk-mah">
              <div class="bd ffh fwb">
                <h3 class="fsm">Team</h3>
                <p class="fss"><a href="" class="bright tdu">Jacob</a> is an independent designer based in New York City and his backpack.</p>
                <p class="fss"><a href="" class="bright tdu">Jack</a> is tall, half-Canadian, and, as of recent, a New Yorker.</p>
                <p class="fss"><a href="" class="bright tdu">Michael</a> lives by the beach in Australia so he doesn't need weather reports.</p>
              </div>
            </div>

            <div class="mod lap-mal desk-mah">
              <div class="bd ffh fwb">
                <h3 class="fsm">Credit</h3>
                <p class="fss">Thanks to our contributors for their good taste: Eiko and Courtney.</p>
                <p class="fss">Credit to the team at Svpply for their early support. The original app sourced products from there, hence some of the visual references.</p>
              </div>
            </div>

            <div class="mod lap-mal desk-mah">
              <div class="bd ffh fwb">
                <h3 class="fsm">Contact</h3>
                <p class="fss"><a href="http://twitter.com/wevther" target="_blank" class="bright">@wevther</a></p>
                <p class="fss"><a href="mailto:forecast@wevther.com" class="bright">forecast@wevther.com</a></p>
              </div>
            </div>

            <div class="mod lap-mal desk-mah">
              <div class="bd ffh fwb">
                <p class="fss">&copy;2013 Wevther, an XXIX jam.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </script>

    <script src="js/libs/jquery-1.10.2.js"></script>
    <script src="js/libs/handlebars-1.1.2.js"></script>
    <script src="js/libs/ember-1.4.0.js"></script>
    <script src="js/libs/jquery.cookie.js"></script>
    <script src="js/libs/imagesloaded.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers/forecast_controller.js"></script>
    <script src="js/views/forecast_view.js"></script>
    <script src="js/views/temperature_view.js"></script>
    <script src="js/script.js"></script>

    <!-- <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'XXX', 'http://example.com', { 'cookieDomain': 'none' });
    ga('send', 'pageview');
    </script> -->
</body>
</html>
